@import "tailwindcss";

:root {
  /* Color */
  --color-dark: #000000;
  --color-white: #ffffff;
}

@theme inline {
  /* Color */
  --color-black: var(#000000);
  --color-weaker-black: var(#111827);

  --color-gray: var(#4b5563);
  --color-weaker-gray: var(#6b7280);
  --color-strong-gray: var(#374151);

  --color-white: var(#ffffff);
  --color-weaker-white: var(#f3f4f6);

  --color-red: var(#dc2626);
  --color-weaker-red: var(#ef4444);
  --color-stronger-red: var(#b91c1c);

  /* Font */
  --font-inter: var(--font-inter);

  /* Spacing */
  --spacing-section: 3rem;
  --spacing-side: 5rem;
  --spacing-side-large: 10rem;

  --spacing-simple150: 0.375rem;
  --spacing-simple200: 0.5rem;
  --spacing-simple250: 0.625rem;
  --spacing-simple300: 0.75rem;
  --spacing-simple400: 1rem;
  --spacing-simple600: 1.5rem;
  --spacing-simple800: 2rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  h1 {
    @apply text-5xl font-extrabold text-white;
  }
  p {
    @apply text-2xl/8 font-normal text-gray-600;
  }
}

body {
  background: var(--color-dark);
  color: var(--color-white);
}
